@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#main-header,
section {
  padding: 240px 0;
  text-align: center;
}

#main-header h1 {
  margin: 128px 0 18px 0;
}

#main-header h2 {
  margin: 0 0 128px 0;
}

.btn {
  border: 3px solid black;
  padding: 24px 64px;
  font-size: 25px;
  font-weight: bold;
}

.btn:focus,
.btn:hover {
  background-color: black;
  color: white;
}

#header-img {
  width: 100px;
}