@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#my-works {
  background-color: #EFF0EA;
}

section header {
  margin-bottom: 64px;
}

h3 + p {
  max-width: 35rem;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 63px;
  margin-bottom: 44px;
}

img {
  max-width: 100%;
  margin-bottom: 23px;
}

.gallery div{
  text-align: left;
}

