@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#social {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 30px;
  margin: 30px;
}

.message {
  text-align: center;
}

.message h1 {
  font-size: 70px;
  font-family: 'Poppins'; 
}

.message form div input{
  width: 100%;
  height: 30px;
  padding: 30px;
  font-size: 20px;
  border-radius: 20px;
}

.message form div input:hover,
.message form div input:focus {
  outline: none;
}

.message form label{
  display: block;
  text-align: start;
  margin-bottom: 5px;
  margin-top: 20px;
}


.message form textarea {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
} 

.message form textarea:hover {
  outline: none;
}

.message form button {
  margin-top: 40px;
  font-size: 30px;
  border-radius: 20px;
  padding: 20px;
}

.message form button:hover {
  background-color: black;
  color: white;
}


.social-media {
  text-align: center;
}

.social-media ul {
  list-style-type: none;
}

.social-media ul li img {
  width: 30%;
  margin: 20px;
}