/* Packages */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* typography */

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  line-height: 1.55;
}

h1 {
  font-size: 70px;
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
  letter-spacing: -2px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -1px;
  color: rgba(60, 58, 71, 80%);
}

h3 {
  font-size: 43px;
  font-weight: bolder;
  letter-spacing: -3px;
  margin-bottom: 2rem;
}

h3.large {
  font-size: 70px;
}

.dark h3{
  color: white;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 23px;
}

p {
  margin-bottom: 23px;
}

p.section-intro {
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dark p.section-intro {
  color: rgba(255, 255, 255, 80%);
}

.number {
  font-size: 53px;
  font-weight: 200;
  color: rgba(60, 58, 71, 50%);
}


a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: rgb(46, 147, 36);
}

a:hover {
  color: rgba(137, 40, 40, 0.8);
}

form input,
form textarea,
form button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}